/* CORES */

.p1 {
  color: #fff1b9;
}

.p2 {
  color: #fcf78d;
}

.p3 {
  color: #fff852;
}

.p4 {
  color: #fdcb0c;
}

.p5 {
  color: #ee983c;
}

.p6 {
  color: #de762a;
}

.p7 {
  color: #ad4d08;
}

.p8 {
  color: #6b2e02;
}

.p9 {
  color: #3c1a02;
}

.p10 {
  color: #1d0d01;
}

.w {
  color: #ffffff;
}

.c1 {
  color: #cccccc;
}

.c2 {
  color: #999999;
}

.c3 {
  color: #666666;
}

.c4 {
  color: #333333;
}

.b {
  color: #000000;
}
