.intro-bg {
  background-image: url(/img/squoosh/UA-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 -240px #fdcb0c;
  padding-top: 120px;
  padding-bottom: 120px;
}

.intro-desc {
  margin-bottom: 80px;
  letter-spacing: 0.05rem;
}

.intro-desc-1 {
  margin-left: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.intro-desc-2 {
  margin-left: 160px;
  margin-bottom: 110px;
}

.intro {
  display: flex;
}

.intro img {
  width: 350px;
}

.intro-img {
  display: flex;
  gap: 40px;
}

.intro-img-1 {
  align-items: start;
  justify-content: center;
  height: 506px;
}

.intro-img-2 {
  height: 746px;
  box-shadow: 20px 20px 0px #121212;
}

.intro-titulo {
  text-align: center;
  margin-right: 80px;
}

.ultra {
  margin-top: 230px;
  margin-bottom: -70px;
}

.arcade {
  text-shadow: 8px 0 #3c1a02, -8px 0 #3c1a02, 0 8px #3c1a02, 0 -8px #3c1a02,
    8px 8px #3c1a02, -8px -8px #3c1a02, 8px -8px #3c1a02, -8px 8px #3c1a02;
}

.subtitulo {
  margin-top: -32px;
}

@media (max-width: 1350px) {
  .intro-bg {
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: inset 0 -120px #fdcb0c;
  }
  .intro {
    display: block;
  }
  .intro-titulo {
    display: block;
  }
  .ultra,
  .arcade,
  .subtitulo {
    display: none;
  }
  .intro-img {
    align-items: start;
    justify-content: center;
    gap: 80px;
  }
}

@media (max-width: 800px) {
  .intro-desc {
    margin-bottom: 40px;
    letter-spacing: 0.05rem;
  }
  .intro-desc-1 {
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .intro-desc-2 {
    margin-left: 0px;
    margin-bottom: 60px;
  }
  .intro-img {
    gap: 20px;
  }
}
