#passes {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: linear-gradient(
    to right,
    #1d0d01 25%,
    #3c1a02 25% 73%,
    #6b2e02 73% 75%,
    #1d0d01 75%
  );
}

.passes-titulo-bg {
  width: 1000px;
  height: 134px;
  background-color: #000000;
  box-shadow: 20px 20px 0px #1d0d01;
  margin-bottom: 80px;
}

.passes-titulo-bg h2 {
  margin-left: 120px;
}

.passes-desc {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-end;
}

.passes-desc-bg {
  width: 400px;
  height: 700px;
  background-color: #ad4d08;
  border: solid 12px #3c1a02;
}

.passes-desc-bg-2 {
  width: 400px;
  height: 800px;
  background-color: #666666;
  border: solid 12px #3c1a02;
}

.passes-desc-bg-3 {
  width: 400px;
  height: 900px;
  background-color: #fdcb0c;
  border: solid 12px #3c1a02;
}

.passes-desc-total {
  margin: 30px;
  text-align: center;
}

.preco {
  border: solid 4px #de762a;
  border-left: none;
  border-right: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.preco-2 {
  border: solid 4px #999999;
  border-left: none;
  border-right: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.preco-3 {
  border: solid 4px #fff852;
  border-left: none;
  border-right: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.passes-lista {
  text-align: start;
  margin: 20px;
  margin-left: 40px;
}

.passes-lista li {
  margin-top: 20px;
}

.lista-detalhe {
  position: relative;
}

.lista-detalhe::before {
  content: "";
  display: flex;
  width: 15px;
  height: 15px;
  background-color: #fff1b9;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: -30px;
}

.detalhe-passes {
  margin-top: -60px;
  max-width: 1000px;
  height: 100px;
  margin-left: auto;
  margin-right: 0;
  background-color: #6b2e02;
  box-shadow: -20px 20px 0px #ad4d08;
}

@media (max-width: 1080px) {
  .passes-desc-bg,
  .passes-desc-bg-2,
  .passes-desc-bg-3 {
    width: 300px;
  }
  .passes-desc-bg {
    height: 600px;
  }

  .passes-desc-bg-2 {
    height: 700px;
  }

  .passes-desc-bg-3 {
    height: 840px;
  }
}

@media (max-width: 1000px) {
  #passes {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .passes-titulo-bg {
    width: 400px;
    height: 90px;
    margin-bottom: 40px;
  }
  .passes-titulo-bg h2 {
    margin-left: 60px;
  }
  .detalhe-passes {
    margin-top: -30px;
    max-width: 500px;
    height: 50px;
  }
}

@media (max-width: 530px) {
  .detalhe-passes {
    margin-top: -30px;
    max-width: 300px;
  }
}
