#produtos {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: linear-gradient(
    to right,
    #3c1a02 10%,
    #fdcb0c 10% 30%,
    #3c1a02 30%
  );
}

.produtos-titulo-bg {
  width: 1000px;
  height: 134px;
  background-color: #6b2e02;
  box-shadow: 20px 20px 0px #1d0d01;
  margin-bottom: 80px;
}

.produtos-titulo-bg h2 {
  margin-left: 120px;
}

.produtos-desc {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-end;
}

.produtos-desc-bg {
  width: 400px;
  height: 700px;
  background-color: #ee983c;
  box-shadow: 20px 20px 0px #ad4d08;
  position: relative;
}

.produtos-desc-bg img {
  object-fit: cover;
  width: 400px;
  height: 350px;
  position: absolute;
  bottom: 0;
}

.produtos-desc-bg-2 {
  width: 400px;
  height: 900px;
  background-color: #ee983c;
  box-shadow: 20px 20px 0px #ad4d08;
  position: relative;
}

.produtos-desc-bg-2 img {
  object-fit: cover;
  width: 400px;
  height: 550px;
  position: absolute;
  bottom: 0;
}

.produtos-desc-bg-3 {
  width: 400px;
  height: 800px;
  background-color: #ee983c;
  box-shadow: 20px 20px 0px #ad4d08;
  position: relative;
}

.produtos-desc-bg-3 img {
  object-fit: cover;
  width: 400px;
  height: 450px;
  position: absolute;
  bottom: 0;
}

.produtos-desc-bg p,
.produtos-desc-bg-2 p,
.produtos-desc-bg-3 p {
  margin-top: 140px;
  margin-left: 40px;
  margin-bottom: 120px;
}

.produtos-desc-detalhe {
  width: 100%;
  height: 25px;
  background-color: #1d0d01;
}

@media (max-width: 1080px) {
  .produtos-desc-bg,
  .produtos-desc-bg-2,
  .produtos-desc-bg-3,
  .produtos-desc-bg img,
  .produtos-desc-bg-2 img,
  .produtos-desc-bg-3 img {
    width: 300px;
  }
  .produtos-desc-bg {
    height: 550px;
  }
  .produtos-desc-bg-2 {
    height: 750px;
  }
  .produtos-desc-bg-3 {
    height: 650px;
  }
  .produtos-desc-bg p,
  .produtos-desc-bg-2 p,
  .produtos-desc-bg-3 p {
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 1000px) {
  #produtos {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .produtos-titulo-bg {
    width: 450px;
    height: 90px;
    margin-bottom: 40px;
  }
  .produtos-titulo-bg h2 {
    margin-left: 60px;
  }
}

@media (max-width: 639px) {
  .produtos-desc-bg-2,
  .produtos-desc-bg-3 {
    height: 550px;
  }
  .produtos-desc-bg-2 img,
  .produtos-desc-bg-3 img {
    height: 350px;
  }
}
